.admin-products .card-img-top {
    height: 16rem !important;
    width: 16rem !important;
}
.admin-products a{
    text-decoration: none !important;
    color: #000 !important;
    width: 30% !important;
}
